<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/page.css">
    <link rel="shortcut icon" href="./images/Food-Logo-Graphics-1-98.jpg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant</title>
</head>

<body>
    <header>
        <div class="header">
            <div class="headerbar">
                <div class="account">
                    <ul>
                        <a href="">
                            <li>
                                <i class="fa-solid fa-house-chimney"></i>
                            </li>
                        </a>
                        <a href="#">
                            <li>
                                <i class="fa-solid fa-magnifying-glass searchicon" id="searchicon1"></i>
                            </li>
                        </a>
                        <div class="search" id="searchinput1">
                            <input type="search">
                            <i class="fa-solid fa-magnifying-glass srchicon"></i>
                        </div>
                        <a href="">
                            <li>
                                <i class="fa-solid fa-user" id="user-mb"></i>
                            </li>
                        </a>

                        <a href="#">
                            <li>
                                <i class="fa-solid fa-cart-shopping" id="user-cart"></i>
                            </li>
                        </a>
                    </ul>
                </div>
                <div class="nav">
                    <ul>
                        <a href=""></a>
                        <li>Trang Chủ</li>
                        </a>

                        <a href=""></a>
                        <li>Giới Thiệu</li>
                        </a>

                        <a href="#"></a>
                        <li>Thực Đơn</li>
                        </a>

                        <a href=""></a>
                        <li>
                            <a href="../view/selectTables.html">Đặt Bàn</a>
                        </li>
                        </a>

                    </ul>
                </div>
            </div>
            <div class="logo">
                <img src="./images/360_F_275700347_09reCCwb7JBxTKiYQXsyri4riMKaHbj8.jpg" alt="">
            </div>
            <div class="bar">
                <i class="fa-solid fa-bars"></i>
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="nav">
                <ul>
                    <a href="#"></a>
                    <li>Trang Chủ</li>
                    </a>

                    <a href="#"></a>
                    <li>Giới Thiệu</li>
                    </a>

                    <a href="#"></a>
                    <li>
                        <a href="../view/selectTables.html">Đặt Bàn</a>
                    </li>
                    </a>

                    <a href="#"></a>
                    <li>
                        <a href="../view/menu.html">Thực Đơn</a>
                    </li>
                    </a>
                </ul>
            </div>
            <div class="account">
                <ul>
                    <a href="#">
                        <li class="fa-solid fa-house-chimney"></li>
                    </a>

                    <a href="#">
                        <li class="fa-solid fa-magnifying-glass searchicon" id="searchicon2"></li>
                    </a>
                    <div class="search" id="searchinput2">
                        <input type="search">
                        <i class="fa-solid fa-magnifying-glass srchicon"></i>
                    </div>
                    <a href="#">
                        <li>
                            <i class="fa-solid fa-user" id="user-lap"></i>
                        </li>
                    </a>

                    <a href="#">
                        <li>
                            <i class="fa-solid fa-cart-shopping" id="user-cart"></i>
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </header>


    <div class="home">

        <div class="main_slide">
            <div>
                <h1>
                    <h1>Thưởng Thức <br> <span>Hương Vị Việt</span></h1>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci cum amet ratione quidem, eius
                        inventore accusamus debitis. Molestiae nisi cum, a harum natus perferendis velit, quia quidem
                        quod mollitia vel!</p>

                    <button class="red_btn">Khám Phá Ngay</button>
            </div>
            <div>
                <img src="./images/6453d681d7b5c.png" alt="">
            </div>
        </div>

        <div class="food-items">
            <div class="item">
                <div>
                    <img src="./images/f8b57a5fa8262ea7281f1b31695cc101.png" alt="food item">
                </div>
                <h3>Bún Bò Huế</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <button class="white_btn">See Menu</button>
            </div>

            <div class="item">
                <div>
                    <img src="./images/pngegg.png" alt="food item">
                </div>
                <h3>Bún Bò Huế Đầy Đủ</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <button class="red_btn">See Menu</button>
            </div>

            <div class="item">
                <div>
                    <img src="./images/—Pngtree—a bowl of old soup_6784471.png" alt="food item">
                </div>
                <h3>Bún Bò Huế Không Móng</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                <button class="white_btn">See Menu</button>
            </div>

        </div>



        <div class="main_slide2">
            <div class="foodimg">
                <img src="./images/pngegg (1).png" alt="">
            </div>
            <div class="question">
                <div>
                    <h1>Lựa Chọn?</h1>
                </div>
                <div>
                    <div class="q-ans">
                        <div>
                            <img src="./images/favpng_laksa-bún-bò-huế-okinawa-soba-ramen-misua.png" alt="">
                        </div>
                        <div>
                            <h4>Bún ...</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>
                    <div class="q-ans">
                        <div>
                            <img src="./images/pngwing.com.png" alt="">
                        </div>
                        <div>
                            <h4>Bún ...</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>
                    <div class="q-ans">
                        <div>
                            <img src="./images/pngwing.com (1).png" alt="">
                        </div>
                        <div>
                            <h4>Bún ...</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-section">
            <video controls width="600">
                <source
                    src="./images/y2mate.com - AjiQuick Bún Bò Phở Bò 2020  Thanh xuân như một tách trà Có AjiQuick trường tồn thanh xuân_v720P.mp4"
                    type="video/mp4">
            </video>
        </div>

        <div class="main_slide3">
            <div class="fav-head">
                <h3>Đặc Sản</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="fav-food">
                <div class="item">
                    <div>
                        <img src="./images/pngwing.com (3).png" alt="" srcset="">
                    </div>
                    <h3>Bún Bò</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="fav-price">30.000đ</p>
                </div>

                <div class="item">
                    <div>
                        <img src="./images/pngegg.png" alt="" srcset="">
                    </div>
                    <h3>Bún Bò Huế Đầy Đủ</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="fav-price">35.000đ</p>
                </div>

                <div class="item">
                    <div>
                        <img src="./images/6453d681d7b5c.png" alt="" srcset="">
                    </div>
                    <h3>Bún Bò Huế Đặc Biệt</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="fav-price">40.000đ</p>
                </div>

                <div class="item">
                    <div>
                        <img src="./images/pngwing.com (1).png" alt="" srcset="">
                    </div>
                    <h3>Bún Bò Kim Chi</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <p class="fav-price">35.000đ</p>
                </div>

            </div>
            <div class="dsgn"></div>
        </div>
        <div class="main_slide4">
            <div class="chef-feed">
                <h2>Customer <span style=" color: red">FeedBack</span> </h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione corrupti voluptatibus laudantium.
                    Facere soluta ducimus voluptatem quaerat et reprehenderit distinctio cum eligendi repellat quis,
                    rerum possimus tempora unde dicta earum!</p>
                <div class="chef-detail">
                    <div>
                        <img src="./images/360_F_275700347_09reCCwb7JBxTKiYQXsyri4riMKaHbj8.jpg" alt="">
                    </div>
                    <div>
                        <h6>Nhóm .....</h6>
                    </div>
                </div>
                <div class="chef-vic">
                    <div>
                        <i class="fa-solid.fa-hand-peace"></i>
                        <h4>68</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div>
                        <i class="fa-solid fa-trophy"></i>
                        <h4>956</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. </p>
                    </div>
                </div>
            </div>
            <div class="chef">
                <img src="./images/pngwing.com (4).png" alt="">
            </div>
        </div>
        <div class="google-map">
            <h2>Find Us Here</h2>
            <iframe
                src="https://map.coccoc.com/map/3335537373341692?borders=20.97302091769538,105.76739788055421,20.987646541333532,105.8003568649292"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
    <script src="../controller/searchPage.js"></script>
    <script src="../controller/nextPage.js"></script>
</body>

</html>