<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="../css/signIn signUp.css">
    <title>Modern Login</title>
</head>

<body>
    <div class="container" id="container">
        <div class="form-container sign-in">
            <form>
                <h1>Đăng Nhập</h1>
                <div class="social-icons">
                    <a href="#" class="icon"><i class="fa-brands fa-google-plus-g" id="user-gg"></i></a>
                    <a href="#" class="icon"><i class="fa-brands fa-facebook-f" id="user-fb"></i></a>
                </div>
                <span> hoặc email của bạn </span>
                <input type="text" name="username" placeholder="Tên đăng nhập" required>
                <input type="password" name="password" placeholder="Mật khẩu" required>
                <a href="#">Quên Mật Khẩu?</a>
                <div class="login-buttons">
                    <button type="button" class="user-login" id="userLoginBtn">Đăng Nhập với User</button>
                    <button type="button" class="admin-login" id="adminLoginBtn">Đăng Nhập với Admin</button>

                </div>
            </form>
        </div>
    </div>
</body>

</html>